---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          {% if post.direct_link %}
          <a class="post-link" href="{{ post.direct_link }}" target="_blank">
            {{ post.title }}
            <small>
              {% if post.site %}({{ post.site }}){% endif %}
              <i class="fa fa-external-link"></i>
            </small>
          </a>
          {% else %}
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% endif %}
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
