<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-2">
        {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}" target="_blank">
            <span class="icon"><i class="fa fa-lg fa-github"></i></span>
          </a>
        {% endif %}
        {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
            <span class="icon"><i class="fa fa-lg fa-twitter"></i></span>
          </a>
        {% endif %}
        {% if site.linked_in_url %}
          <a href="{{ site.linked_in_url }}" target="_blank">
            <span class="icon"><i class="fa fa-lg fa-linkedin"></i></span>
          </a>
        {% endif %}

      </div>
    </div>
  </div>
</footer>